.offers {
    width: 95%;
    height: 90vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px; /* Space below the section */
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    box-sizing: border-box; /* Ensure padding and margins are accounted for */
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1 {
    color: #171717;
    font-size: 60px;
    font-weight: 600;
}

.offers-left p {
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}

.offers-left button {
    width: 230px;
    height: 60px;
    border-radius: 35px;
    background-color: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the image horizontally */
    padding-top: 70px; /* Adjust top padding for alignment */
    padding-bottom: 50px; /* Add bottom padding to ensure space below */
}

.offers-right img {
    max-width: 100%; /* Ensure the image fits within the container */
    height: auto; /* Maintain aspect ratio */
}

@media(max-width:1280px){
    .offers{
        padding: 0px 80px;
        margin-bottom: 120px;
    }
    .offers-left h1{
        font-size: 40px;
    }
    .offers-left p{
        font-size: 18px;
    }
    .offers-right img{
        width: 300px;
    }
    .offers-left button{
        width: 220px;
        height: 50px;
        font-size: 18px;
    }
}
@media(max-width:800px){
    .offers{
       
        margin-bottom: 60px;
    }
    .offers-left h1{
        font-size: 25px;
    }
    .offers-left p{
        font-size: 15px;
    }
    .offers-right img{
        width: 220px;
    }
    .offers-left button{
        width: 160px;
        height: 35px;
        font-size: 13px;
    }
}
@media(max-width:500px){
    .offers{
       height: 25vh;
        margin-bottom: 50px;
    }
    .offers-left h1{
        font-size: 16px;
    }
    .offers-left p{
        font-size: 10px;
    }
    .offers-right img{
        width: 120px;
    }
    .offers-left button{
        width: 120px;
        height: 25px;
        font-size: 10px;
    }
}